body{
    background-color: aliceblue;
    text-align: center;
    font-family: 'Heebo', sans-serif;
}
.allpage{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 250px;
    align-items: center;
    background-color: teal;
    width: 50vw;
    height: fit-content;
    border-radius: 10px;
}
.adding{
    margin-bottom: 20px;
}
input{
    border-radius: 10px;
    
}
.flex_box{
    width: fit-content;;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
}
hr{
    color: black;
    width: 50vw;
}